<section class="about" id="about">
  <div class="container">
    <h2 class="about__title minor-header">О студии</h2>
    <div class="about__container">
      <div class="about__container-left">
        <p class="about__text">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные
          исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации!
          Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения
          внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности
          для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает
          независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно,
          граждане, наблюдать, как явные признаки институционализации являются только методом политического участия
          и нарушающими общечеловеческие нормы этики.</p>
      </div>

      <div class="about__container-right">
        <div class="about__container-img">
          <picture>
            <source media="(max-width: 385px)" srcset="img/mobile/about-img-mobile.webp">
            <source media="(max-width: 720px)" srcset="img/1024/about-img-1024.webp" height="300">
            <source media="(max-width: 768px)" srcset="img/768/about-img-768.webp" width="342" height="569">
            <source media="(max-width: 1024px)" srcset="img/1024/about-img-1024.webp" width="466" height="332">
            <source srcset="img/about-img.webp" type="image/webp">
            <img loading="lazy" src="img/about-img.jpg" class="image" width="630" height="255" alt="фотоаппарат">
          </picture>
        </div>

        <div class="about__container-form">

          <h2 class="about__subscribe-title request-title">Подписаться на рассылку</h2>

          <form action="#" class="about__form">
            <div class="about__container-input input-wrapper">
              <input type="email" name="email" class="input-reset about__form-input input-email" placeholder="Email">
            </div>
            <button class="btn-reset form-btn">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
