<section class="hero" id="master-classes">
  <h1 class="visually-hidden">Студия High pass</h1>
  <div class="container hero__container">

    <div class="hero__container-left">

      <picture>
        <source media="(max-width: 320px)" srcset="img/mobile/hero-img-1-mobile-pp.webp" width="278" height="422">
        <source media="(max-width: 576px)" srcset="img/mobile/hero-img-1-mobile.webp">
        <source media="(max-width: 768px)" srcset="img/768/hero-img-1-768.webp" width="342" height="452">
        <source media="(max-width: 1024px)" srcset="img/1024/hero-img-1-1024.webp" width="466" height="623">
        <source srcset="img/hero-img-1.webp" type="image/webp">
        <img loading="lazy" src="img/hero-img-1.jpg" class="image" width="630" height="630" alt="рука с фотоаппаратом">
      </picture>

      <div class="hero__container-content">
        <p class="hero__text">Мастер-класс от Игоря Робова</p>
        <h1 class="hero__title-main">Неоновый фотосет 2.0 7 июля 20:00</h1>
        <a href="#" class="hero__link">Узнать больше</a>
      </div>
    </div>

    <div class="hero__container-right">

      <h2 class="hero__title">Работы участников предыдущего мастер&#8209;класса</h2>

      <ul class="list-reset hero__content-list" title="предыдущие работы">

        <li class="hero__content-item">
          <picture>
            <source media="(max-width: 320px)" srcset="img/mobile/hero-img-2-mobile-pp.webp" width="278" height="186">
            <source media="(max-width: 576px)" srcset="img/mobile/hero-img-2-mobile.webp">
            <source media="(max-width: 768px)" srcset="img/768/hero-img-2-768.webp" width="342" height="228">
            <source media="(max-width: 1024px)" srcset="img/1024/hero-img-2-1024.webp" width="466" height="332">
            <source srcset="img/hero-img-2.webp" type="image/webp">
            <img loading="lazy" src="img/hero-img-2.jpg" class="image" width="630" height="300"
              alt="фотография девушки-1">
          </picture>
        </li>

        <li class="hero__content-item">
          <picture>
            <source media="(max-width: 320px)" srcset="img/mobile/hero-img-3-mobile-pp.webp" width="124" height="105">
            <source media="(max-width: 576px)" srcset="img/hero-img-3.webp">
            <source media="(max-width: 768px)" srcset="img/768/hero-img-3-768.webp" width="156" height="133">
            <source media="(max-width: 1024px)" srcset="img/1024/hero-img-3-1024.webp" width="218" height="186">
            <source srcset="img/hero-img-3.webp" type="image/webp">
            <img loading="lazy" src="img/hero-img-3.jpg" class="image" width="300" height="257"
              alt="фотография девушки-2">
          </picture>
        </li>

        <li class="hero__content-item">
          <picture>
            <source media="(max-width: 320px)" srcset="img/mobile/hero-img-4-mobile-pp.webp" width="124" height="105">
            <source media="(max-width: 576px)" srcset="img/hero-img-4.webp">
            <source media="(max-width: 768px)" srcset="img/768/hero-img-4-768.webp" width="156" height="133">
            <source media="(max-width: 1024px)" srcset="img/1024/hero-img-4-1024.webp" width="218" height="186">
            <source srcset="img/hero-img-4.webp" type="image/webp">
            <img loading="lazy" src="img/hero-img-4.jpg" class="image" width="300" height="257"
              alt="фотография девушки-3">
          </picture>
        </li>
      </ul>
    </div>
  </div>

</section>
