<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects__title-main minor-header">Наши проекты</h2>

    <ul class="list-reset projects__content-list" title="предыдущие работы">

      <li class="projects__content-item">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-1-mobile-pp.webp" width="278" height="184">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-1-mobile.webp">
          <source media="(max-width: 1024px)" srcset="img/1024/projects-img-1-1024.webp" width="218" height="184">
          <source srcset="img/projects-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-1.jpg" class="projects__image" width="190" height="184"
            alt="пейзаж">
        </picture>
        <p class="projects__text">Синтетически, смешаны с не уникальными данными до степени
          в&nbsp;частности,&nbsp;выбранный&nbsp;нами инновационный путь обеспечивает актуальность поставленных обществом
          задач. Для современного мира постоянное информационно-пропагандистское обеспечение нашей деятельности
          предоставляет широкие возможности для позиций, занимаемых участниками в отношении поставленных задач!</p>
        <div class="projects__container-date">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects__text-date-grey">16 июня</span>
        </div>
      </li>

      <li class="projects__content-item">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-2-mobile-pp.webp" width="278" height="184">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-2-mobile.webp">
          <source media="(max-width: 1024px)" srcset="img/1024/projects-img-2-1024.webp" width="218" height="184">
          <source srcset="img/projects-img-2.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-2.jpg" class="projects__image" width="190" height="184"
            alt="портрет">
        </picture>
        <p class="projects__text text-fix">В своём стремлении улучшить опыт мы упускаем, что явные и&nbsp;активно
          развивающиеся страны третьего мира, инициированные исключительно синтетически, подвергнуты целой серии
          независимых исследований. А также предприниматели в сети интернет неоднозначны и будут объективно рассмотрены
          соответствующими инстанциями.</p>
        <div class="projects__container-date">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects__text-date-grey">28 мая</span>
        </div>
      </li>

      <li class="projects__content-item">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-3-mobile-pp.webp" width="278" height="184">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-3-mobile.webp">
          <source media="(max-width: 930px)" srcset="img/768/projects-img-3-768.webp" width="272" height="300">
          <source media="(max-width: 1024px)" srcset="img/1024/projects-img-3-1024.webp" width="466" height="184">
          <source srcset="img/projects-img-3.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-3.jpg" class="projects__image" width="190" height="184"
            alt="предметы на столе">
        </picture>
        <p class="projects__text">Равным образом, высокое качество позиционных высокотехнологичная&nbsp;концепция
          общественного уклада. А также сделанные на базе интернет-аналитики выводы представляют собой не что иное, как
          квинтэссенцию победы маркетинга над разумом и должны быть разоблачены. Ясность нашей позиции очевидна: граница
          обучения кадров играет определяющее значение для экспериментов, поражающих по своей масштабности и
          грандиозности.</p>
        <div class="projects__container-date">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects__text-date-grey">14 мая</span>
        </div>
      </li>

      <li class="projects__content-item-big">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-4-mobile-pp.webp" width="278" height="422">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-4-mobile.webp">
          <source media="(max-width: 768px)" srcset="img/768/projects-img-4-768.webp" width="714" height="300">
          <source media="(max-width: 930px)" srcset="img/768/projects-img-4-768.webp" width="876" height="346">
          <source srcset="img/projects-img-4.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-4.jpg" class="image" width="630" height="300"
            alt="девушка за стеклом">
        </picture>
        <div class="projects__container-content">
          <div class="projects__container-date">
            <svg class="">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="projects__text-date">9 апреля</span>
          </div>
          <h2 class="projects__title">Cемантический разбор</h2>
          <p class="projects__content-big-text">В рамках спецификации современных стандартов, интерактивные прототипы
          </p>
          <a href="#" class="projects__link">О проекте</a>
        </div>
      </li>

      <li class="projects__content-item-big">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-5-mobile-pp.webp" width="278" height="422">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-5-mobile.webp">
          <source media="(max-width: 930px)" srcset="img/768/projects-img-5-768.webp" width="876" height="346">
          <source srcset="img/projects-img-5.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-5.jpg" class="image" width="630" height="300" alt="туман в горах">
        </picture>
        <div class="projects__container-content">
          <div class="projects__container-date">
            <svg class="">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="projects__text-date">20 марта</span>
          </div>
          <h2 class="projects__title">Забвение</h2>
          <p class="projects__content-big-text">Играет важную роль в формировании глубокомысленных рассуждений</p>
          <a href="#" class="projects__link">О проекте</a>
        </div>
      </li>

      <li class="projects__content-item">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-6-mobile-pp.webp" width="278" height="184">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-6-mobile.webp">
          <source media="(max-width: 1024px)" srcset="img/1024/projects-img-6-1024.webp" width="342" height="184">
          <source srcset="img/projects-img-6.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-6.jpg" class="projects__image" width="300" height="184"
            alt="пейзаж">
        </picture>
        <p class="projects__text">Как принято считать, многие известные личности и по сей день остаются уделом либералов
          и&nbsp;акционеры&nbsp;крупнейших&nbsp;компаний, инициированные исключительно синтетически, функционально
          разнесены на независимые элементы. Господа, экономическая повестка сегодняшнего дня создаёт необходимость
          включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных
          ценностей.
          либералов…</p>
        <div class="projects__container-date">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects__text-date-grey">9 марта</span>
        </div>
      </li>

      <li class="projects__content-item">
        <picture>
          <source media="(max-width: 320px)" srcset="img/mobile/projects-img-7-mobile-pp.webp" width="278" height="184">
          <source media="(max-width: 576px)" srcset="img/mobile/projects-img-7-mobile.webp">
          <source media="(max-width: 1024px)" srcset="img/1024/projects-img-7-1024.webp" width="342" height="184">
          <source srcset="img/projects-img-7.webp" type="image/webp">
          <img loading="lazy" src="img/projects-img-7.jpg" class="projects__image" width="300" height="184"
            alt="пейзаж">
        </picture>
        <p class="projects__text">С учётом сложившейся международной обстановки, новая модель организационной
          деятельности&nbsp;настолько&nbsp;очевидна, что синтетическое тестирование обеспечивает широкому кругу
          (специалистов) участие в формировании вывода текущих активов. Для современного мира сложившаяся структура
          организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
        </p>
        <div class="projects__container-date">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="projects__text-date-grey">1 марта</span>
        </div>
      </li>
    </ul>
  </div>
</section>
